<div class="widget-container">
  <div class="widget green" style="cursor: pointer;" [routerLink]="['/clientes']">
    <div class="icon">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div class="value">
      <div class="top">{{totalCliente}}</div>
      <div class="bottom">Total Clientes</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faMoneyBillsTransfer"></fa-icon>
    </div>
    <div class="value">
      <div class="top">{{tipoSimplesNacional}}</div>
      <div class="bottom">Tipo Simples Nacional</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faMoneyBillsTransfer"></fa-icon>
    </div>
    <div class="value">
      <div class="top">{{tipoLucroPresumido}}</div>
      <div class="bottom">Tipo Lucro Presumido</div>
    </div>
  </div>
  <!-- <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
    </div>
    <div class="value">
      <div class="top">346928</div>
      <div class="bottom">Total Revenue</div>
    </div>
  </div> -->
</div>
