table {
  width: 100%;
}

.filter {
  width: calc(100% - 1rem - 20%);
  margin-top: 10px;
}

.table-inputs{
  display: flex;
  justify-content: space-evenly;
}

.button{
  margin-top: 20px;
  margin-left: 50px;
}
